<div class="logo-badge">
    <a href="/">
      <img src="/assets/smoovie-logo.png" alt="Smoovie" height="80px">
    </a>
</div>

<div class="search-box">
  <form class="search-form" (submit)="submit($event)">
    <input type="text" [(ngModel)]="userInput" class="form-control search-input" id="search-input" name="smoovie-query" placeholder="Find yourself a Movie or Actor">
    <button type="submit" class="btn btn-primary search-submit" id="search-submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
