<div class="logo-badge">
    <a href="/">
      <img src="/assets/smoovie-logo.png" alt="Smoovie" height="80px">
    </a>
</div>

<pre>{{model | json}}</pre>

<div class="search-box">
  <form class="search-form" (submit)="submit($event)">
    <input type="text" [(ngModel)]="model.searchTerm" class="form-control search-input" id="search-input" name="smoovie-query" placeholder="Find yourself a Movie or Actor">
    <button type="submit" class="btn btn-primary search-submit" id="search-submit">
      <i class="fa fa-search"></i>
    </button>
    <fieldset>
        <div class="filter-toggle">
            <label for="movie"><input type="radio" [(ngModel)]="model.filter" value="movie" id="movie" name="filter" /><div>movies</div></label>
        </div>
        <div class="filter-toggle">
            <label for="both"><input type="radio" [(ngModel)]="model.filter" value="both" id="both" name="filter" /><div>both</div></label>
        </div>
        <div class="filter-toggle">
            <label for="actor"><input type="radio" [(ngModel)]="model.filter" value="actor" id="actor" name="filter" /><div>actors</div></label>
        </div>
    </fieldset>
  </form>
</div>
