<he-search-bar (searchChange)="updateSearch($event)"></he-search-bar>

<he-spinner *ngIf="loading"></he-spinner>


<div class="container" *ngIf="!loading && data && data.results">

    <!-- <pre>{{data.results | json}}</pre> -->

  <h2>Showing <span class="highlight">{{ data.total_results }}</span> results for <span class="highlight">{{ query }}</span></h2>

  <div class="text-right">
    <pagination-controls (pageChange)="goToPage($event)" maxSize="9" directionLinks="true" autoHide="false"
      previousLabel="" nextLabel=""></pagination-controls>
  </div>

  <ul class="result-list">
    <he-movie-record *ngFor="let item of data.results |
    paginate: {
      itemsPerPage: 20,
      currentPage: data.page,
      totalItems: data.total_results
    }" [record]="item">  </he-movie-record>
  </ul>

  <div class="text-right">
      <pagination-controls (pageChange)="goToPage($event)" maxSize="9" directionLinks="true" autoHide="false"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>

</div>
