<he-search-bar (searchTermChange)="updateSearch($event)"></he-search-bar>

<he-spinner *ngIf="loading"></he-spinner>

<pre>{{data.results | json}}
</pre>

<div class="container" *ngIf="!loading && data && data.results">

  <h2>Showing <span class="highlight">{{ data.total_results }}</span> results for <span class="highlight">{{ query }}</span></h2>

  <div class="text-right">
    <pagination-controls (pageChange)="goToPage($event)" maxSize="9" directionLinks="true" autoHide="false"
      previousLabel="" nextLabel=""></pagination-controls>
  </div>

  <ul>
    <li *ngFor="let movie of data.results | paginate: { itemsPerPage: 20, currentPage: data.page, totalItems: data.total_results }">
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.overview }}</p>
    </li>
  </ul>

  <div class="text-right">
      <pagination-controls (pageChange)="goToPage($event)" maxSize="9" directionLinks="true" autoHide="false"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>

</div>
