
@import '../../styles/variables';


    .genre-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        .genre {
            &:first-child {
                margin-left: 0;
            }
            list-style: none;
            margin: .5rem;
            padding: .5rem;
            background: $aqua-marine;
            color: $white;
            border-radius: .5rem;
        }
    }

