<he-top-bar></he-top-bar>

<article>
  <he-spinner *ngIf="state === 'loading'"></he-spinner>
  <he-error-state *ngIf="state === 'error'"></he-error-state>
  <div *ngIf="state === 'loaded'" class="container details actor-details">
    <div class="row">
      <div class="col-md-8">
        <h1>{{details.name}}</h1>
        <h4>{{details.known_for_department}}</h4>
        <p>
          <strong>Born:</strong> {{ details.birthday | amDateFormat:'dddd, MMMM Do YYYY' }} in {{ details.place_of_birth }}
          <span *ngIf="details.deathday">
            <br>
            <strong>Died:</strong> {{ details.deathday | amDateFormat:'dddd, MMMM Do YYYY' }}
          </span>
        </p>
        <p>{{details.biography}}</p>

        <a *ngIf="details.homepage" href="{{details.homepage}}">{{details.homepage}}</a>
      </div>
      <div class="col-md-4">
        <img src="{{imagePath}}" alt="{{details.title}}" width="100%">
      </div>
    </div>

    <section>
      <he-spinner *ngIf="otherCredits.state === 'loading'"></he-spinner>
      <div *ngIf="otherCredits.state === 'loaded'" class="container details credits">
        <div class="row">
          <div class="col-xs-12">
            <h2>Credits</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" *ngIf="otherCredits.cast.length > 0">
            <h3>As Cast</h3>
            <ul class=credits>
              <li class="credit movie-credit" *ngFor="let role of otherCredits.cast | slice:0:10 ">
                <img src="{{getPosterImagePath(role.poster_path)}}" alt="" width="32px">
                <strong>
                  <a [routerLink]="['/movie', role.id]"> {{ role.title }}</a>
                </strong> ({{role.release_date | amDateFormat:'YYYY'}}) as {{ role.character }}
              </li>
            </ul>

          </div>
          <div class="col-md-6" *ngIf="otherCredits.crew.length > 0">
            <h3>As Crew</h3>
            <ul class=credits>
              <li class="credit movie-credit" *ngFor="let role of otherCredits.crew | slice:0:10 ">
                <img src="{{getPosterImagePath(role.poster_path)}}" alt="" width="32px">
                <strong>
                  <a [routerLink]="['/movie', role.id]">{{ role.title }}</a>
                </strong> ({{role.release_date | amDateFormat:'YYYY'}}) for {{ role.job }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

</article>
